name: Each Download Update

on:
  schedule:
    - cron: "30 3 * * SUN"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/kotori316/downloadcounts/dlcount:latest
      credentials:
        username: kotori316
        password: ${{ secrets.GITHUB_TOKEN }}
      options: --user root
    steps:
      - name: Date
        run: |
          TZ="UTC" date
          TZ="Asia/Tokyo" date
      - name: Check Env
        run: |
          echo ${HOME}
          pwd
          whoami
      - uses: actions/checkout@v2
        with:
          repository: "Kotori316/furry-spoon"
          path: "configuration"
          token: ${{ secrets.PAT_TOKEN }}
      - uses: actions/checkout@v2
        with:
          repository: "Kotori316/DownloadCounts"
          path: "data"
          token: ${{ secrets.PAT_TOKEN }}
      - name: RUN
        run: |
          export DL_PARENT="${GITHUB_WORKSPACE}/data"
          export PROJECT_IDS="${GITHUB_WORKSPACE}/configuration"
          /root/get_each.sh
        env:
          CURSE_API_TOKEN: ${{ secrets.CURSE_API_TOKEN }}
      - name: Check updated files(data)
        run: |
          cd ${GITHUB_WORKSPACE}/data
          ls -al
          git status
      - name: Check updated files(Configuration)
        run: |
          cd ${GITHUB_WORKSPACE}/configuration
          ls -al
          git status
      - name: Git Commit
        run: |
          cd ${GITHUB_WORKSPACE}/data
          echo "Commit ${GITHUB_WORKSPACE}/data"
          git config --local user.email "Kotori316+action-bot@gmail.com"
          git config --local user.name "BOT"
          git add *.csv
          git commit -m $(TZ="Asia/Tokyo" date "+%Y-%m-%dT%H:%M")
          git push
          
          cd ${GITHUB_WORKSPACE}/configuration
          echo "Commit ${GITHUB_WORKSPACE}/configuration"
          git config --local user.email "Kotori316+action-bot@gmail.com"
          git config --local user.name "BOT"
          git add .
          (git commit -m $(TZ="Asia/Tokyo" date "+%Y-%m-%dT%H:%M") && git push) || true
      - name: Screenshot
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: furry-spoon-${{ github.run_number }}
          path: |
            "screenshots/*.png"
            "response/*.json"
