name: Each Download Update

on:
  schedule:
    - cron: "30 3 * * SUN"
    # - cron: "30 21 * * MON"
    - cron: "30 15 * * WED"
    # - cron: "30 9 * * FRI"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/kotori316/downloadcounts/dlcount:latest
      credentials:
        username: kotori316
        password: ${{ secrets.GITHUB_TOKEN }}
      options: --user root
    env:
      RESPONSE_PARENT: /response
      SCREENSHOT_PARENT: /screenshots
    steps:
      - name: Date
        run: |
          TZ="UTC" date
          TZ="Asia/Tokyo" date
      - name: Check Env
        run: |
          echo ${HOME}
          pwd
          whoami
      - uses: actions/checkout@v3
        with:
          repository: "Kotori316/furry-spoon"
          path: "configuration"
          token: ${{ secrets.PAT_TOKEN }}
      - uses: actions/checkout@v3
        with:
          repository: "Kotori316/DownloadCounts"
          path: "data"
          token: ${{ secrets.PAT_TOKEN }}
      - name: RUN
        run: /root/get_each.sh
        env:
          CURSE_API_TOKEN: ${{ secrets.CURSE_API_TOKEN }}
          DL_PARENT: ${{ github.workspace }}/data
          PROJECT_IDS: ${{ github.workspace }}/configuration
      - name: Check updated files(data)
        run: |
          cd ${GITHUB_WORKSPACE}/data
          ls -al
          git pull
          git status
      - name: Check updated files(Configuration)
        run: |
          cd ${GITHUB_WORKSPACE}/configuration
          ls -al
          git pull
          git status
      - name: Git Commit
        run: |
          cd ${DL_PARENT}
          echo "Commit ${DL_PARENT}"
          git config --local user.email "Kotori316+action-bot@gmail.com"
          git config --local user.name "BOT"
          git add *.csv
          git commit -m $(TZ="Asia/Tokyo" date "+%Y-%m-%dT%H:%M")
          git push
          
          cd ${PROJECT_IDS}
          echo "Commit ${PROJECT_IDS}"
          git config --local user.email "Kotori316+action-bot@gmail.com"
          git config --local user.name "BOT"
          git add .
          (git commit -m $(TZ="Asia/Tokyo" date "+%Y-%m-%dT%H:%M") && git push) || true
        env:
          DL_PARENT: ${{ github.workspace }}/data
          PROJECT_IDS: ${{ github.workspace }}/configuration
      - name: Check responses
        if: failure()
        run: |
          echo "::group::Screenshots"
          ls -al ${{ env.SCREENSHOT_PARENT }} || :
          echo "::endgroup::"

          echo "::group::Responses"
          ls -al ${{ env.RESPONSE_PARENT }} || :
          echo "::endgroup::"
      - name: Screenshot
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: furry-spoon-${{ github.run_number }}
          path: |
            ${{ env.SCREENSHOT_PARENT }}/*.png
            ${{ env.RESPONSE_PARENT }}/*.json
